In [1]:
import pandas as pd
import json

In [2]:
df = pd.read_excel(r"C:\Users\Think\Documents\WeChat Files\wowangzhouming\FileStorage\File\2020-09\1.xlsx",
                   skiprows=1, skipfooter=12, usecols=[0, 1])
df

    query                                               标注结果
0  就有几年历史  {"data":[{"start":0,"columnIndex":0,"end":2,"a...

In [3]:
result1 = []
result2 = []
for query, json_text in df.values:
    tmp = json.loads(json_text)
    postions = tmp['data']
    lables = tmp['info'][0]['val']
    tmp = {'query': query}
    for i in range(len(postions)):
        postion = postions[i]
        lable = lables[i]
        start = postion['start']
        end = postion['end']
        tmp[f'ner{i+1}'] = query[start:end]
        result1.append([query, start, postion['columnIndex'], end,
                        postion['annotateType'], query[start:end], lable['realLabelValue']])
    for i, lable in enumerate(lables):
        tmp[f'realLabelValue{i+1}'] = lable['realLabelValue']
    result2.append(tmp)
df1 = pd.DataFrame(result1, columns=['query', 'start', 'columnIndex', 'end', 'annotateType', 'ner', 'realLabelValue'])
display(df1)
df2 = pd.DataFrame(result2)
display(df2)

    query  start  columnIndex  end annotateType ner realLabelValue
0  就有几年历史      0            0    2         slot  就有           电话号码
1  就有几年历史      4            0    6         slot  历史            联系人

    query ner1 ner2 realLabelValue1 realLabelValue2
0  就有几年历史   就有   历史            电话号码             联系人